<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>APHODS</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-light bg-light">
        <a class="navbar-brand" href="#">APHODS</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                <!-- <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Features</a>
                </li> -->
            </ul>
            <ul class="navbar-nav right">
                <li class="nav-item">
                    <a class="nav-link" href="#"><%= count %>/<%= limit %> Projects Hosted</a>
                </li>
                <% if (userid) { %>
                <li class="nav-item">
                    <a class="nav-link" href="#"><%= userid %> (<%= name %>)</a>
                </li>
                <% } %>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Logout</a>
                </li>
            </ul>
        </div>
    </nav>
    <form class="main-page" action="/delete" method="POST">
        <div class="project-header">APHODS</div>
        <div class="project-desc">Automated Project Hosting on Docker Server.</div>
        <div class="form-group" id="left">
            <label for="subdomain" class="control-label">Subdomain</label>
            <div class="input-group">
                <input type="text" value="<%= details.subdomain %>" class="form-control" name = "subdomain" id="subdomain" aria-describedby="subdomainHelp" readonly>
                <span class="input-group-addon domain-name">.iitmandi.co.in</span>
            </div>
            <small id="subdomainHelp" class="form-text text-muted">The project is hosted at the given subdomain.</small>
        </div>
        <div class="form-group" id="right">
            <label for="port" class="control-label">Port Number</label>
            <input type="number" value="<%= details.port %>" class="form-control" id="port" aria-describedby="portHelp" readonly>
            <small id="portHelp" class="form-text text-muted">The project is hosted at the given port on the server. </small>
        </div>
        <div class="form-group submit-btn-group">
            <button type="submit" class="btn btn-primary submit-btn">Delete Container</button>
        </div>     
    </form>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>